<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Abmelden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="anmeldenantwort.css">
    </head>

    <body>
        <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/produktlist">Produkte</a>
                <a href="/anmelden">Anmelden</a>
                <a href="/kontoerstellen">Konto erstellen</a>
                <br>
            <form action="/" method="POST">
                <input type="text" name="suche">
                <button type="submit">Suchen</button>
            </form>
        </div> 
        <div class="anmeldenantwort">
            Du hast dich erfolgreich abgemeldet!<br>
        </div>
    </body>
</html>
