<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="anmeldenantwort.css">
    <title>Anmelden Antwort</title>
</head>
<body>

        <div class="topnav">
                <a href="/">Home</a>
                <a href="/produktlist">Produkte</a>
                <%if (login === false ){%>
                    <a class="active" href="/anmelden">Anmelden</a>
                    <a href="/kontoerstellen">Konto erstellen</a>
                <%}else{%>
                    <a class="active" href="/abmelden">Abmelden</a>
                <%}%>
                <a href="/warenkorb">
                    <img src="images/shopping-cart.png" alt="Warenkorb" style="width:15px;height:15px;">
                </a>
                <br>
        <form action="/suche" method="POST">
            <input type="text" name="suche">
            <button type="submit">Suchen</button>
            </form>
        </div> 

        <div class="anmeldenantwort">
        <%if (login === false ){%>
            <!--Ein Fehler-->
            Fehler: Anmeldung fehlgeschlagen!<br>
            <a href="/anmelden">Neuer Versuch</a><br>
        <%}else{%>
            <!-- Kein Fehler-->
            Du bist erfolgreich angemeldet!<br>
            Email: <%=email%><br>
        <%}%>
          </div>
</body>
</html>
