<!DOCTYPE html>

<html>
    <head>
        <title>Bestellen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="layout.css">
    </head>

    <body>
            <div class="topnav">
                    <a href="/">Home</a>
                    <a href="/produktlist">Produkte</a>
                    <a href="/anmelden">Anmelden</a>
                    <a href="/kontoerstellen">Konto erstellen</a>
                    <a class="active" href="/warenkorb">
                        <img src="images/shopping-cart.png" alt="Warenkorb" style="width:20px;height:20px;">
                    </a>
                    <br>
            <form action="/suche" method="POST">
                <input type="text" name="suche">
                <button type="submit">Suchen</button>
                </form>
             </div> 

        <p>Bestellt!!!!!</p>
        <br> 
    </body>
</html>