<!DOCTYPE html>
<html>
    <head>
        <title>Startseite</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/produktlist">Produkte</a>
                <%if (login === false ){%>
                  <a href="/anmelden">Anmelden</a>
                  <a href="/kontoerstellen">Konto erstellen</a>
                <%}else{%>
                  <a href="/abmelden">Abmelden</a>
                <%}%>
                <a href="/warenkorb">
                  <img src="images/shopping-cart.png" alt="Warenkorb" style="width:15px;height:15px;">
                </a>
                <br>
                <form action="/suche" method="POST">
                  <input type="text" name="suche">
                  <button type="submit">Suchen</button>
                </form>
                
              </a>
             </div> 
        
             <div class= "ueberschrift">
              <h1> Sei einzigartig! <br>
                Genau wie Deine Sticker!</h1>
             </div>
        <!--Text -->
            <div class="box">
        
          <div class="text1">
            <h1>Was Dich erwartet</h1> 
            <ul></ul>
            <li>Kreatives und einzigartiges Design </li>
            <li>Viele süße Tiersticker und Sprüche</li>
              <li>Lange Haltbarkeit durch starken Kleber und kratzfeste Oberflächen</li>
              <li>Hervorragend geeignet für Notizen,
                fürs Bullet Journal und für den Laptop.</li> 
              <li>Perfekt auch als Geschenk für Deine Liebsten</li>
              <br>
            
          </ul>
            <h1>Unser Versprechen</h1>
            <ul>
            <li>Beste Qualität aus eigener Produktion</li>
            <li>Nachhaltige Herstellung in Deutschland</li>
            <li>Schnelle und deutschlandweite Lieferung</li>
              <br>
          </ul>

              </ul>
              <h1>Lieferung ins EU-Ausland</h1>
              <ul>
              <li>NEU: Gegen einen Aufschlag ist nun auch die Lieferung ins EU-Ausland möglich</li>
              <li>Lieferung innerhalb von 20 Tagen in Dein gewünschtes Land</li>
                <br>
            </ul>
          </div>
            <div class="mySlides">
                <img src="images/kürbis katze3.png" style="width:20%">
                <img src="images/reiten pferd 84939.png" style="width:20%">
                <img src="images/pferde design 44.png" style="width:20%">
                <img src="images/girl who loves horses spruch.png" style="width:20%">
                <img src="images/fische nagelrn.png" style="width:20%">
                <img src="images/hell bee whiser.png" style="width:20%">
                <img src="images/QUEEN BEE.png" style="width:20%">
                <img src="images/116960484_159888568_nothing works without bees Imker Spruch Geschenk.png" style="width:20%">
                <img src="images/kinde einschuldun.png" style="width:20%">
                <img src="images/dog lady hunde.png" style="width:20%">
                <img src="images/dogmom hund ejje.png" style="width:20%">
                <img src="images/hund spie hallwe.png" style="width:20%">
                <br>
                <a href="/produktlist">Alle Produkte</a>
             </div>
            </div>
        </section>
        
    </body>
</html>
