<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Konto erstellen Antwort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="kontoerstellenantwort.css">
</head>
<body>
        <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/produktlist">Produkte</a>
                <%if (login === false ){%>
                    <a href="/anmelden">Anmelden</a>
                    <a href="/kontoerstellen">Konto erstellen</a>
                <%}else{%>
                    <a href="/abmelden">Abmelden</a>
                <%}%>
                <br>
        <form action="/" method="POST">
            <input type="text" name="suche">
            <button type="submit">Suchen</button>
            </form>
         </div>
         
        <dev class="kontoerstellenantwort">
        <%if (login === false ){%>
            <!--Ein Fehler-->
            Fehler: <%=errorMessage%><br>
            <a href="/kontoerstellen">Neuer Versuch</a><br>
        <%}else{%>
            <!-- Kein Fehler-->
            Du bist erfolgreich registriert!<br>
            Email: <%=email%><br>
        <%}%>
        </dev>
</body>
</html>
