<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Konto erstellen Antwort</title>
</head>
<body>
        <%if (success == false ){%>
            <!--Ein Fehler-->
            Fehler: <%=errorMessage%><br>
            <a href="/kontoerstellen">Neuer Versuch</a><br>
        <%}else{%>
            <!-- Kein Fehler-->
            Du bist erfolgreich registriert!<br>
            Email: <%=email%><br>
        <%}%>
</body>
</html>