/* ..............NAVIGATION BAR......................
Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  *{
    font-family: Arial, Helvetica, sans-serif;
    margin:0%;
    padding:0%;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(56, 134, 197);
    color: white;
  }
  .topnav form{
    float: right;
  }

  .topnav button{
    background-color: rgb(56, 134, 197); 
    color: white;
    border-radius: 5px;
  }

  .topnav form{
    margin-right:2%;

  }

* {box-sizing:border-box}


/*.....................KONTOERSTELLEN...................*/
.kontoerstellen{
  text-align: center;
  text-decoration: none;
  background-color: #a7d3ff;
  padding:2%;
  margin:2%;
  margin-top:3%;
  margin-left: 39%;
  margin-right:39%;
  border-radius: 5px;
}
.kontoerstellen h1{
  font-size: x-large;
  margin:2%;
  margin-bottom: 4%;
}
.kontoerstellen h2{
  font-size: large;
  margin: 2%;
  margin-bottom: 4%;
}
.kontoerstellen p{
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0.8%;
  
}
.kontoerstellen button{
    background-color: white;
    margin: 10px;
    float: center;
}
.kontoerstellen form{
    text-align: center;
}
.kontoerstellen input{
    float: center;
    
    margin-top: 2px;;
}
